SCORUS_MODE=test
WHATSAPP_TRANSPORT=evolution
PUBLIC_SITE_URL=https://scorusfitness.com
TEST_PHONE=+447418602158
POSTGRES_PASSWORD=
EVOLUTION_DB_PASSWORD=
EVOLUTION_URL=http://evolution:8080
EVOLUTION_INSTANCE=scorus-test
EVOLUTION_API_KEY=
EVOLUTION_WEBHOOK_SECRET=
FORM_API_KEY=
MCP_SECRET=
ADMIN_CARLO_PASSWORD=
ADMIN_BERNAT_PASSWORD=
HERMES_URL=http://hermes:8642
HERMES_BRIDGE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CALENDLY_TOKEN=
CALENDLY_WEBHOOK_SECRET=
STT_URL=
STT_API_KEY=
STT_MODEL=whisper-1
